﻿<%@ Page Title="Catalogue" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="Catalogue.aspx.cs" Inherits="DemoWeb.Catalogue" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="principal" runat="server">

    <h2>CATALOGUE</h2>
    <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    
    <asp:Button OnClick="Button1_Click" ID="Button1" runat="server" Text="Button" />

    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    

</asp:Content>
