﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DemoCookie.aspx.cs" Inherits="DemoWeb.DemoCookie" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            nom : <asp:TextBox ID="txtNom" runat="server"></asp:TextBox>
            <asp:Button ID="Button1" OnClick="Button1_Click" runat="server" Text="Button" />
        </div>
    </form>
</body>
</html>
